p{
    background-color: blueviolet;
}
#h1{
    background-color: brown;
}
img{
    height: 200px;
    width: 200px;
}
pre{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}